$main-nav-bg:                               stencilColor("gb-main-nav-bg");
$main-nav-textColor:                        stencilColor("gb-main-nav-textColor");
$main-nav-textHoverColor:                   stencilColor("gb-main-nav-textHoverColor");
