$home-banners-mini-text-color:              stencilColor("gb-home-banners-mini-text-color");
$home-banners-mini-border-color:            stencilColor("gb-home-banners-mini-border-color");
$home-banners-mini-background-color:        stencilColor("gb-home-banners-mini-background-color");
$home-banners-main-text-color:              stencilColor("gb-home-banners-main-text-color");
