$newsletter-background-color:                   stencilColor("gb-newsletter-background-color");
$newsletter-title-color:                        stencilColor("gb-newsletter-title-color");
$newsletter-description-color:                  stencilColor("gb-newsletter-description-color");
$newsletter-fieldtext-color:                    stencilColor("gb-newsletter-fieldtext-color");
$newsletter-fieldtext-background-color:         stencilColor("gb-newsletter-fieldtext-background-color");
$newsletter-button-color:                       stencilColor("gb-newsletter-button-color");
$newsletter-button-text-hover-color:            stencilColor("gb-newsletter-button-text-hover-color");
$newsletter-button-background-color:            stencilColor("gb-newsletter-button-background-color");
$newsletter-button-background-hover-color:      stencilColor("gb-newsletter-button-background-hover-color");
