<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "slide": "[data-product-slide]",
        "dots": false,
        "responsive": [
            {
                "breakpoint": 991,
                "settings": {
                    "slidesToShow": {{ columns }},
                    "slidesToScroll": {{ columns }}
                }
            },
            {
                "breakpoint": 767,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 2
                }
            }
        ]
    }'
>
    {{#each products}}
    <div data-product-slide class="productCarousel-slide">
        {{> components/gordonbyte/products/card  show_rating=../settings.show_product_rating settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
    {{#if products.length '>' 1}}
        {{> components/carousel-content-announcement}}
    {{/if}}
</section>
