$quicksearch-searchbar-text:            stencilColor("gb-quicksearch-searchbar-text");
$quicksearch-header:                    stencilColor("gb-quicksearch-header");
$quicksearch-searchbar-icon:            stencilColor("gb-quicksearch-searchbar-icon");
$quicksearch-searchlist-title:          stencilColor("gb-quicksearch-searchlist-title");
$quicksearch-searchlist-bg:             stencilColor("gb-quicksearch-searchlist-bg");
