$footer-header-color:                           stencilColor("gb-footer-header-color");
$footer-text-color:                             stencilColor("gb-footer-text-color");
$footer-link-color:                             stencilColor("gb-footer-link-color");
$footer-link-hover-color:                       stencilColor("gb-footer-link-hover-color");
