$home-full-banners-mini-text-color:         stencilColor("gb-home-full-banner-mini-text-color");
$home-full-banners-mini-border-color:       stencilColor("gb-home-full-banners-mini-border-color");
$home-full-banners-mini-background-color:   stencilColor("gb-home-full-banner-mini-background-color");
$home-full-banners-main-text-color:         stencilColor("gb-home-full-banner-main-text-color");
